

<div class= "panel-body">
   <div class="row">
   <div class="col-xs-8">
    <div align="center">
     <h2>Delicious Caterers Food brought right to your home!</h2>
   </div>
    <br />
    <br />
     <%= image_tag("login.jpg", :class => "img-thumbnail") %>
   </div>
   <br />






<div class="col-xs-4">
   

<br />
<br />
<br />


  <div class= "panel-body">


<br />
<div align="center">





<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
   <br    />
  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
   <br   />
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br  />

  <div class="actions">
   <%= f.submit "Sign up", class: 'btn btn-primary btn-xl' %>
  </div>
<% end %>

<br  />

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>
