<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>"> 
	<%= render 'shared/navbar' %>
	<div class="container >
	<div class="container theme-showcase" role="main">

<div id="main"> <%= yield %>
        </div>
    </div>
      </div>



</body>
</html>
